* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.container, 
#logo {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Poppins', sans-serif;
}

#pic {
    background-image: url(./img/background.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    height: 100vh;
}

#logo{
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.logo {
    height: 10vh;
}

.right {
    display: flex;
    flex-flow: column nowrap;
    width: 60vw;
    background-color: #000;
    color: #fff;
    padding: 20px;
    justify-content: center;
}

.text {
    font-family: 'Oxygen', sans-serif;
    padding-top: 20px;
}

#below {
    padding-top: 30px;
    padding-bottom: 20px;
}

.form-text {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Archivo Narrow', sans-serif;
}

.form {
    box-shadow: 0 5px 30px -10px #8840b3;
    font-family: 'Archivo Narrow', sans-serif;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    opacity: 80%;
}

input {
    background-color: #222;
    border: 2px solid #8840b3;
    border-radius: 2px;
    
}

input:focus {
    outline: none;
    border: 2px solid #fff;
}

button {
    background-color: #222;
    border: 1px solid #8840b3;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    margin-top: 20px;
    padding: 5px 20px;
}

.log-in {
    font-family: 'Poppins',sans-serif;
}

a {
    text-decoration: none;
    color: #8840b3;
    font-weight: bold;
}

a:hover {
    color: #bbb;
}
